.rodapé {
    padding: 3em var(--margem-lateral);
    background-color: var(--color5);
}

.rodapé p {
    font-size: 0.55rem;
    font-family: var(--font2);
    text-align: center;
    color: var(--color1);
    line-height: 1.25em;
}

/* MOBILE */
@media screen and (max-width: 1024px) {
    .rodapé {
        padding: 1em;
    }
    
    .rodapé p {
        font-size: 0.5rem;
        line-height: 1.25em;
    }   
}