/* Títulos */
.titulos-h2 {
    color: var(--color3);
    font-size: 2rem;
    font-weight: 600;
}
/* Fim - Títulos */

.section2 {
    display: flex;
    flex-direction: column;
    padding: 5em var(--margem-lateral);
}


/* Div1 */
.section2__div1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 13em;
}

.section2__div1 h2 {
    line-height: 1.5em;
}

.section2__div1 h2 strong {
    color: var(--color1);
    text-transform: uppercase;
    padding: 0.15em 0.6em;
    position: relative;
    left: -2%;
}

.section2__div1 p {
    width: 50%;
    color: var(--color1);
    line-height: 1.25em;
    font-family: var(--font2);
    margin: 1em 0 0.5em 0;
}
/* Fim - Div1 */


.botijão {
    position: absolute;
    left: 57%;
    top: 126%;
    width: 43%;
}

.botijão img {
    width: 100%;
}


/* Div2 */
.section2__div2 {
    display: inline-block;
}

.section2__div2 h2 {
    color: var(--color3);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.section2__div2 span {
    color: var(--color1);
    font-family: var(--font2);
    font-size: 1.1rem;
}

.section2__div2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: 2em 1em;
}

.section2__div2 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 78%;
}

.section2__div2 ul li img {
    width: 50%;
}

.section2__div2 ul li p {
    color: var(--color1);
    font-family: var(--font2);
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.25em;
}

.section2__div2 ul li p strong {
    color: var(--color3);
    font-weight: 600;
}
/* Fim - Div2 */


/* MOBILE */
@media screen and (max-width: 412px) {
    /* Títulos */
    .titulos-h2 {
        font-size: 1.5rem;
    }
    /* Fim - Títulos */
    
    .section2 {
        padding: 1em;
    }

    /* Div1 */
    .section2__div1 {
        margin-bottom: 5em;
    }

    .section2__div1 h2 {
        margin-left: 1em;
    }

    .section2__div1 h2 strong {
        color: var(--color1);
        text-transform: uppercase;
        padding: 0.15em 0.6em;
        position: relative;
        left: -4%;
    }

    .section2__div1 p {
        width: 95%;
        margin: 1em auto 0 auto;
        text-align: center;
    }

    .section2__div1 a {
        margin: 1em auto;
    }
    /* Fim - Div1 */

    .botijão {
        display: none;
    }

    /* Div2 */
    .section2__div2 h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
    }

    .section2__div2 span {
        font-size: 1rem;
    }

    .section2__div2 ul {
        grid-template-columns: 1fr 1fr;
        margin: 2em 1em;
        gap: 3em 2em;
    }

    .section2__div2 ul li {
        margin: 0 auto;
        width: 90%;
    }

    .section2__div2 ul li p {
        font-size: 1rem;
    }

    .section2__div2 ul li p strong {
        color: var(--color3);
        font-weight: 600;
    }
    /* Fim - Div2 */
}