.section10 {
    padding: 3em var(--margem-lateral);
    padding-top: 0;
    background-image: url(../imagens/formas-de-fundo2-2.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.section10 h2 {
    margin: 0 auto;
    text-align: center;
    line-height: 1.25em;
    width: 58%;
}

.section10 h2 p {
    color: var(--color3);
    margin: 0.125em auto;
}

.bg-branco {
    background-color: var(--color1);
    border-radius: 999px;
    padding: 0.125em 0;
}

.titulo-pt1 {
    width: 83%;
}

.titulo-pt2 {
    width: 60%;
}

/* FORMULÁRIO */
.container__formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em 17.5em;
    gap: 0.5em;
}

.container__formulario div {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.container__formulario div label {
    color: var(--color1);
    font-size: 0.75rem;
    margin-top: 0.5em;
}

.container__formulario div input, select, textarea {
    padding: 0.75em;
    border-radius: 6px;
    border: none;
    outline: none;
}

.container__formulario div input {
    font-family: var(--font1);
    font-size: 0.75rem;
}

.container__formulario div input::placeholder {
    font-size: 0.75rem;
    font-family: var(--font1);
    padding: 0.25em;
    color: gray;
}

.container__formulario select {
    font-family: var(--font1);
    font-size: 0.75rem;
    color: gray;
}

.container__formulario div select option {
    font-size: 0.75rem;
    width: 10em;
}

.botão-enviar {
    position: absolute;
    margin: 29em 0 0 10.5em;
    padding: 1em 4em;
    background-color: var(--color3);
    color: var(--color1);
    border: none;
    border-radius: 999px;
    font-weight: 700;
    font-family: var(--font2);
    cursor: pointer;
}
/* FIM - FORMULÁRIO */


.imagem__rodapé {
    width: 100%;
    text-align: center;
    margin-top: 9em;
}

.imagem__rodapé img {
    width: 20vmax;
    margin: 0 auto;
}

.container__redes-sociais {
    display: flex;
    justify-content: center;
    margin: 2em auto 0 0;
    align-items: center;
    gap: 0.5em;
}

.container__redes-sociais li a img {
    width: 4vmin;
}

/* MOBILE */
@media screen and (max-width: 1024px) {
    .section10 {
        padding: 3em 1em 2em 1em;
        background-image: none;
        background: linear-gradient(to top, var(--color2), var(--color4));
    }

    .section10 h2 {
        margin: 0 auto;
        width: 95%;
        font-size: 1.25rem;
    }   

    .section10 h2 p {
        margin: 0.125em auto;
    }

    .bg-branco {
        background-color: var(--color1);
        border-radius: 999px;
        padding: 0.125em 0;
    }

    .titulo-pt1 {
        width: 83%;
    }

    .titulo-pt2 {
        width: 60%;
    }


    /* FORMULÁRIO */
    .container__formulario {
        grid-template-columns: 1fr;
        margin: 1em;
        gap: 1em;
    }

    .container__formulario div label {
        font-size: 1rem;
        margin-top: 0.5em;
    }

    .container__formulario div input, select, textarea {
        padding: 1em;
    }

    .container__formulario div input {
        font-size: 1rem;
    }

    .container__formulario div input::placeholder {
        font-size: 1rem;
    }

    .container__formulario select {
        font-size: 1rem;
    }

    .container__formulario div select option {
        font-size: 0.75rem;
    }

    .container__formulario textarea {
        font-size: 1rem;
    }

    .botão-enviar {
        position: relative;
        margin: 1em auto;
        font-size: 1rem;
    }
    /* FIM - FORMULÁRIO */


    .imagem__rodapé {
        width: 100%;
        margin-top: 1em;
    }

    .imagem__rodapé img {
        width: 50%;
    }

    .container__redes-sociais {
        margin: 2em auto 1em 0;
        gap: 1em;
    }

    .container__redes-sociais li a img {
        width: 6vmin;
    }
}