.section9 {
    margin: 13em var(--margem-lateral);
    margin-bottom: 7em;
    display: flex;
    flex-direction: column;
}

.section9 h2 {
    text-transform: uppercase;
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 2.31rem;
}

.pontilhado__lista {
    position: absolute;
    width: 55vmax;
    margin: 7.75em 0 0 7.75em;
    z-index: -1;
}

.lista1__section9 {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 4em
}

.lista1__section9 li {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.lista1__section9 li img {
    width: 8vmin;
    margin: 0 auto;
}

.lista1__section9 li p {
    color: var(--color1);
    width: 8em;
    text-align: center;
}


/* MOBILE */
@media screen and (max-width: 1024px) {
    .section9 {
        margin: 25em 1em 3em 1em;
    }

    .section9 h2 {
        margin-bottom: 1.5em;
        font-size: 1.5rem;
    }

    .pontilhado__lista {
        display: none;
    }

    .lista1__section9 {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 3em;
    }

    .lista1__section9 li img {
        width: 14vmin;
    }

    .lista1__section9 li p {
        width: 75%;
        margin: 0 auto;
        font-size: 1.125rem;
        line-height: 1.25em;
    }
}