/* Background Personalizado */
.bg-azul-escuro, .bg-azul-claro {
    color: var(--color1);
    border-radius: 32px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 32px;
}

.bg-azul-escuro {
    background-color: var(--color2);
}

.bg-azul-claro {
    background-color: var(--color3);
}

.azul1:hover {
    background-color: var(--hover2);
}

.azul2:hover {
    background-color: var(--hover3);
}
/* Fim - Background Personalizado */


.section1 {
    padding: 3em var(--margem-lateral);
    background-image: url(../imagens/img-de-fundo1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.section1 div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 0 0 25em;
    margin-bottom: 20em;
}

.section1 div h1 {
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--color1);
    text-transform: uppercase;
}

.section1 div span {
    color: var(--color2);
    font-size: 2rem;
    line-height: 1.25em;
    margin-bottom: 1em;
}

.botão-revendedor {
    padding: 0.75em 2.5em;
    margin-right: auto;
    font-size: 1.25rem;   
    cursor: pointer;
}

#fundo__section1__mobile {
    display: none;
}


/* MOBILE */
@media screen and (max-width: 1024px) {
    .section1 {
        padding: 2em 0 0 0;
        background-color: var(--color3);
        background-image: none;
    }

    .section1 div {
        padding: 0;
        margin-bottom: 0;
    }    

    .section1 div h1 {
        font-size: 2.6rem;
        margin-left: 0.5em;
    }

    .section1 div span {
        font-size: 1.5rem;
        margin-left: 1em;
    }

    .botão-revendedor {
        position: relative;
        padding: 0.75em 2.5em;
        margin-left: 1.5em;
        font-size: 1rem;
        z-index: 1;
    }

    #fundo__section1__mobile {
        display: block;
        width: 100%;
        margin: -5em 0 0 0;
    }
}